*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../img/fondo.jpg);
    background-size: 100%;
}
main{
    display: inline-flex;
    margin-top: 30%;
}
h1{
    background: rgba(245, 245, 220, 0.247);
    width: 350px;
    height: 180px;
    display: flex;
    text-align: center;
    align-items: center;
}
.content-cuadro{
    display: flex;
}
.cuadro{
    background: rgb(179, 169, 169);
    width: 120px;
    color: rgb(246, 247, 248);
    overflow: hidden;
    height: 180px;
}
.cuadro h2{
    position: absolute;
    height: 180px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1;
}
.cuadro img{
    width: 120%;
    z-index: 0;
}